<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/habilidades.css">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
    <title>HV</title>
</head>
<body>
    <section>
        <nav class="in" id="in">
            <%-include ('templates/nav'); %>
        </nav>

     <!-- About me -->
    <div class="about" id="about">    
        <div class="titu">
            <h1 class="sob"> Sobre mí </h1>
            <p class="sob1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci id voluptate magnam corporis.</p>
        </div>
    
        <div class="conte">
            <div class="izq">
                <h2 class="ti">Dedicación a programar</h2>
                <p class="par">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum aut, doloribus non nemo ex veniam placeat impedit aliquam quibusdam et voluptatem in neque deleniti inventore numquam, excepturi, eum quam. Suscipit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel ab eos dicta modi sed corporis quod repellendus tempore accusantium rem, odit mollitia minima magni eius delectus! Facilis veritatis odio quae.</p>
                <ul class="yo">
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quam quidem.</li>
                    <li>amet expedita doloribus vero. Eius, suscipit voluptates</li>
                    <li>dicta odio reiciendis exercitationem explicabo ea error tenetur</li>
                    <li> hic non, quod placeat...</li>
                </ul>
            </div>
            <div class="de">
                <div class="poi">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, officia quidem atque unde a deserunt magnam dolorum quae? Cum, maxime. Laborum excepturi ipsam beatae unde. Eum reprehenderit doloremque vel in.</p>
                </div>
                <div class="cono">
                    <b>HTML5</b>
                    <p>90%</p>
                    <b>CSS3</b>
                    <p>80%</p>
                    <b>JAVASCRIPT</b>
                    <p>80%</p>
                    <b>BOOTSTRAP</b>
                    <p>75%</p>
                    <b>JAVA</b>
                    <p>75%</p>
                    <b>PHP</b>
                    <p>70%</p>
                </div>
            </div>
        </div>       
    </div>    
    
    <!-- Skills -->
    <div class="ge_show" id="ge_show">
        <div class="titu">
            <h1 class="sob">hablididades blandas</h1>
            <p class="sob1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci id voluptate magnam corporis.</p>
        </div>
        <div class="card" id="card">
            <div class="mi">
                <div class="tr">
                    <i class="fa-solid fa-clock"></i>
                    <h4>Puntual.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, illum minima consequuntur placeat incidunt dolore laborum</p>
                </div>

                <div class="tr">
                    <i class="fa-brands fa-js"></i>
                    <h4>Buen manejo sobre el lenguaje.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, illum minima consequuntur placeat incidunt dolore laborum</p>
                </div>

                <div class="tr">
                    <i class="fa-solid fa-brain"></i>
                    <h4>Buena capacidad de aprendizaje.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, illum minima consequuntur placeat incidunt dolore laborum</p>
                </div>

                <div class="tr">
                    <i class="fa-solid fa-user-group"></i>
                    <h4>Amigable, social y educado.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, illum minima consequuntur placeat incidunt dolore laborum</p>
                </div>

            </div>
        </div>
    </div>
</section>

</body>
</html>