<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
    <title>HV</title>
</head>
<body>
    <!-- Home -->
    <section class="contenedor_family" id="contenedor_family">
    <div class="navv">
        <nav class="in" id="in">
        <%-include ('templates/nav'); %>
    </nav>

    <!-- Inicio -->
        <div class="ban_show" id="ban_show">
            <div class="cont">
                <h2><%=titulo %></h2>
                <h1>PROGRAMADOR</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit reiciendis quam repellendus culpa exercitationem nemo illum nesciunt repudiandae, assumenda sunt rem facilis quasi at eius itaque ut suscipit, sint pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore inventore pariatur voluptatem eos assumenda nemo consequatur quis, eligendi placeat totam corporis exercitationem iste tenetur sed expedita id beatae ipsum nesciunt!</p>
            </div>
            <div class="ima">
                <img class="fot" src="/img/foto.jpeg" alt="">
            </div>
        </div>
    </div>
         
            
        
    </section>

</body>
</html>