<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
    <title>HV</title>
</head>
<body>
    <!-- Home -->
    <section class="contenedor_family" id="contenedor_family">
    <div class="navv">
        <nav class="in" id="in">
            <p class="na" id="inicio">Inicio</p>
            <p class="na" id="sobre" >Sobre mí</p>
            <p class="na" id="habili">Habilidades</p>
            <p class="na" id="contacto">Contactos</p>
        </nav>

        <div class="ban" id="ban">
            <div class="cont">
                <h2>Juan David Celis Venegas</h2>
                <h1>PROGRAMADOR</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit reiciendis quam repellendus culpa exercitationem nemo illum nesciunt repudiandae, assumenda sunt rem facilis quasi at eius itaque ut suscipit, sint pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore inventore pariatur voluptatem eos assumenda nemo consequatur quis, eligendi placeat totam corporis exercitationem iste tenetur sed expedita id beatae ipsum nesciunt!</p>
            </div>
            <div class="ima">
                <img class="fot" src="img/foto.jpeg" alt="">
            </div>
        </div>
    </div>
         
        <!-- About me -->
    <div class="about" id="about">    
        <div class="titu">
            <h1 class="sob">Sobre mi</h1>
            <p class="sob1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci id voluptate magnam corporis.</p>
        </div>
    
        <div class="conte">
            <div class="izq">
                <h2 class="ti">Dedicación a programar</h2>
                <p class="par">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum aut, doloribus non nemo ex veniam placeat impedit aliquam quibusdam et voluptatem in neque deleniti inventore numquam, excepturi, eum quam. Suscipit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel ab eos dicta modi sed corporis quod repellendus tempore accusantium rem, odit mollitia minima magni eius delectus! Facilis veritatis odio quae.</p>
                <ul class="yo">
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quam quidem.</li>
                    <li>amet expedita doloribus vero. Eius, suscipit voluptates</li>
                    <li>dicta odio reiciendis exercitationem explicabo ea error tenetur</li>
                    <li> hic non, quod placeat...</li>
                </ul>
            </div>
            <div class="de">
                <div class="poi">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, officia quidem atque unde a deserunt magnam dolorum quae? Cum, maxime. Laborum excepturi ipsam beatae unde. Eum reprehenderit doloremque vel in.</p>
                </div>
                <div class="cono">
                    <b>HTML5</b>
                    <p>90%</p>
                    <b>CSS3</b>
                    <p>80%</p>
                    <b>JAVASCRIPT</b>
                    <p>80%</p>
                    <b>BOOTSTRAP</b>
                    <p>75%</p>
                    <b>JAVA</b>
                    <p>75%</p>
                    <b>PHP</b>
                    <p>70%</p>
                </div>
            </div>
        </div>       
    </div>  

      
        <div class="ge" id="ge">
            <div class="titu">
                <h1 class="sob">hablididades blandas</h1>
                <p class="sob1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci id voluptate magnam corporis.</p>
            </div>

            <div class="mi">
                <i class="fa-duotone fa-business-time"></i>
                <p>Puntual</p>
                

                <i class="fa-brands fa-node"></i>
                <p>Buen manejo sobre el lenguaje</p>

                <i class="fa-regular fa-brain-circuit"></i>
                <p>Buena capacidad de aprendizaje</p>
            </div>
            <div class="mi2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, illum minima consequuntur placeat incidunt dolore laborum</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, illum minima consequuntur placeat incidunt dolore laborum</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, illum minima consequuntur placeat incidunt dolore laborum</p>
            </div>
        </div>
        
        <!-- Contact -->
        
        <footer class="contac" id="contac">
            <div class="personal">
                <h1>Contactos</h1>
                <i class="fa-solid fa-phone"></i><p>3134774299</p>
                <i class="fa-solid fa-envelope"></i><p>juandavidcelis10@gmail.com</p>
                <i class="fa-solid fa-location-dot"></i><p>Calle 69 b No. 117-06</p>
            </div>
        </footer>
        
        
    </section>
 <script src="js/modales.js"></script>
</body>
</html>