*{
    margin: 0%;
    background-color: rgb(246, 98, 65);
}
.error{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.error h1{
    font-size: 650%;
}
.error p{
    font-size: 350%;
}