<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nav.css">
    <title>templates</title>
</head>
<body>
    <nav class="in" id="in">
        <button class="na" id="inicio">Inicio</button>
        <button class="na" id="sobre" ><%=sobre %> </button>
        <button class="na" id="habili"><%=habili %></button>
        <button class="na" id="contacto"><%=contacto %></button>
    </nav>

</body>
</html>