<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nav.css">
    <title>templates</title>
</head>
<body>
    <nav class="in" id="in">
        <a href="/"><button class="na" id="inicio">Inicio </button></a>
        <a href="/PG3/about"><button class="na" id="sobre" >Sobre mí </button></a>
        <a href="/PG1/skills"><button class="na" id="habili">Habilidades</button></a>
        <a href="/PG2/conctac"><button class="na" id="contacto">Conctactos</button></a>
    </nav>

</body>
</html>